body {
    font-family:'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a:hover {
    text-decoration: underline;
}
header h1 {
  height: 275px;
}

header h1 {
  font-family: 'Caveat Brush', cursive;
  background-image: url(/images/banner/home.png);
  background-repeat: no-repeat;
}

.header-home h1 {
  text-align: right;
  vertical-align: bottom;
}

header h1 a:hover {
  text-decoration: none;
}

header h1 a {
  color: black;
}

h1,h2 {
    font-family: 'Patrick Hand', cursive;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
