<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} - Marudam Farm School</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto|Patrick+Hand|Rancho|Caveat+Brush|Schoolbell'
			rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
			crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	 <div class="container">
	 <div class="row">
		<div class="col-lg-8">
			<nav>
     		<ul>
         		<li><a href="/">Home</a></li>
 	        	<li><a href="/aboutus.html">About Us</a></li>
         		<li><a href="/contactus.html">Contact Us</a></li>
     		</ul>
 		 </nav>
		 <header>
		  <div class="header header-{{page.id}}">
			 <h1><a href="/">Marudam Farm School</a></h1>
		  </div>
		</header>
		 <nav>
    		<ul>
        		<li><a href="/approach.html">Approach</a></li>
        		<li><a href="/atmarudam.html">@ Marudam</a></li>
        		<li><a href="/events.html">Events</a></li>
        		<li><a href="/admission.html">Admission</a></li>
        		<li><a href="/participate.html">Participate</a></li>
        		<li><a href="/gallery.html">Gallery</a></li>
						<li><a href="/workwithus.html">Work with Us</a></li>
						<li><a href="/volunteer.html">Volunteer</a></li>
    		</ul>
		 </nav>
		 <div class="content">
			<h2>{{page.title}}</h2>
		 {{ content }}
	   </div><!-- /.container -->
		 <footer>
    		<ul>
					<li><a href="http://theforestway.org">Forest Way</a></li>
        	<li><a href="mailto:marudamfarmschool@gmail.com">marudamfarmschool@gmail.com</a></li>
					<li><a href="http://fb.com/MarudamFarmSchool">Facebook</a></li>
			</ul>
		 </footer>
	  </div>
   </div>
  </div>
	</body>
</html>
