<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about.html">About Us</a></li>
        		<li><a href="/approach.html">Educational Approach</a></li>
        		<li><a href="/atmarudam.html">Day or Week @ Marudam</a></li>
        		<li><a href="/events.html">Special Events</a></li>
        		<li><a href="/admission.html">Admission</a></li>
        		<li><a href="/participate.html">Participate</a></li>
        		<li><a href="/gallery.html">Gallery</a></li>
        		<li><a href="/contactus.html">Contact Us</a></li>
    		</ul>
		</nav>
		<div class="container">
		 {{ content }}
	  </div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:marudamfarmschool@gmail.com">marudamfarmschool@gmail.com</a></li>
        		<li><a href="http://marudamfarmschool.org">marudamfarmschool.org</a></li>
			</ul>
		</footer>
	</body>
</html>
